<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>She-takes-on-the-world</display-name>
  <welcome-file-list>
    <welcome-file>home1.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddingUser</display-name>
    <servlet-name>AddingUser</servlet-name>
    <servlet-class>aps.com.AddingUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddingUser</servlet-name>
    <url-pattern>/AddingUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddingDoctor</display-name>
    <servlet-name>AddingDoctor</servlet-name>
    <servlet-class>aps.com.AddingDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddingDoctor</servlet-name>
    <url-pattern>/AddingDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLoginController</display-name>
    <servlet-name>DoctorLoginController</servlet-name>
    <servlet-class>aps.com.DoctorLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginController</servlet-name>
    <url-pattern>/DoctorLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>aps.com.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>aps.com.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReport</display-name>
    <servlet-name>AddReport</servlet-name>
    <servlet-class>aps.com.AddReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReport</servlet-name>
    <url-pattern>/AddReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetReport</display-name>
    <servlet-name>SetReport</servlet-name>
    <servlet-class>aps.com.SetReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetReport</servlet-name>
    <url-pattern>/SetReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestForReport</display-name>
    <servlet-name>TestForReport</servlet-name>
    <servlet-class>aps.com.TestForReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestForReport</servlet-name>
    <url-pattern>/TestForReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllReports</display-name>
    <servlet-name>ViewAllReports</servlet-name>
    <servlet-class>aps.com.ViewAllReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllReports</servlet-name>
    <url-pattern>/ViewAllReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDoctors</display-name>
    <servlet-name>ShowDoctors</servlet-name>
    <servlet-class>aps.com.ShowDoctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDoctors</servlet-name>
    <url-pattern>/ShowDoctors</url-pattern>
  </servlet-mapping>
</web-app>